* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --clr-primary: hsla(349, 100%, 43%, 1);
  --clr-primary-light: hsla(349, 69%, 51%, 1);
  --clr-secondary: hsla(44, 100%, 49%, 1);

  --clr-gray-dark-1: hsla(220, 17%, 7%, 1);
  --clr-gray-dark-2: hsla(250, 6%, 20%, 1);
  --clr-gray-dark-3: hsla(250, 13%, 11%, 1);
  --clr-gray-dark-3-transparent: hsla(0, 0%, 0%, 0.8);

  --clr-gray-light-1: hsla(220, 100%, 95%, 1);
  --clr-gray-light-2: hsla(250, 100%, 95%, 1);
  --clr-gray-light-3: hsla(250, 1%, 44%, 1);
  --clr-gray-light-4: hsla(250, 2%, 59%, 1);

  --clr-white: hsla(0, 0%, 100%, 1);
  --clr-white-transparent: hsla(0, 0%, 100%, 0.2);
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;

  // Reducing font size Small Screens
  @media only screen and (max-width: $bp-1200) {
    font-size: 56.25%;
  }

  @media only screen and (max-width: $bp-900) {
    font-size: 50%;
  }

  // Increasing font size for Large screens
  @media only screen and (min-width: $bp-1800) {
    font-size: 75%;
  }

  @media only screen and (min-width: $bp-2500) {
    font-size: 87.5%;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

input,
button {
  background-color: transparent;
  border: none;
  font-style: inherit;
  color: inherit;
}

input {
  width: 100%;
}

:focus-visible {
  outline-color: var(--clr-primary-light);
}

::-webkit-scrollbar {
  width: 0.8rem;
  height: 0.8rem;
}

::-webkit-scrollbar-thumb {
  background-color: var(--clr-gray-dark-2);
  border-radius: 0.8rem;
}

body {
  background-color: var(--clr-gray-dark-1);
  padding: 5rem 2rem;
}
