.grid-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(16rem, 19rem));
  justify-content: space-around;
  align-items: end;
  gap: 4rem 3rem;

  @media only screen and (max-width: $bp-600) {
    grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
  }
}
