.sidebar,
.menu {
  flex: 0 0 11%;
  height: 100%;
  position: sticky;
  top: 4rem;

  @media only screen and (max-width: $bp-1000) {
    display: none;
  }

  &__box {
    padding-bottom: 2.5rem;
  }

  &__list {
  }

  &__item:not(:last-child) {
    padding-bottom: 1.2rem;
  }

  &__link {
    font-size: 1.6rem;
    transition: all $transition-short;
    cursor: pointer;
  }

  &__link:hover,
  &__link:active {
    color: var(--clr-gray-light-2);
  }
}

.menu {
  &__list {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  &__link {
    font-size: 2.5rem !important;
  }
}
